body{
    background-color: black;
}
.continer{
    background-color: hsl(47, 88%, 63%);
    border: 1px solid block;
    height: 90vh;
    width: 90vw;
    
    margin: auto;
    position: relative;
    margin-top: 45px;
    font-size:66%;
}
.main{
     background-color: white;
     border: 1px solid black;
     height:35vh;
     width: 10vw;
     position: absolute;
     padding: 50px;
     margin-top: 10%;
     margin-left: 43%;
     border-radius: 15px;
     box-shadow: 10px 10px;
}
.dom{
    border-radius: 5px;
}
p{
    color:hsl(0, 0%, 50%) ;
    
}
.clr{
    color: rgb(236, 175, 64);
    font-size: 13px;
}
h4{
    padding-left: 25px;
    margin-bottom: 0px;
}
.avathar{
    margin-top:-25px;
}
.heading{
    background:rgb(241, 196, 60)  ;
    border-radius:3px;
    font-size: small;
    margin-right: 90px ;
    text-align: center;    
}
#ready{
    padding-top:20px ;
    padding-left: 20px;
}