.container{
    /* border: 1px solid black; */
    /* height: 97vh;
    width: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 150px 150px 150px;


}
.box1{
    background-color: hsl(31, 77%, 52%);
    /* margin-left: 20px;
    margin-top: 10rem;
    margin-left: 20rem; */
    height: 375px;
    width: 350px;
    border-radius: 10px 0px 0 10px ;
    


}
.box2{
    background-color:  hsl(184, 100%, 22%);
    /* margin-top: 10rem; */
    height: 375px; 
    width: 350px;   
}
.box3{
    background-color: hsl(179, 100%, 13%);
    /* margin-right: 20px;
    margin-top: 10rem;
    margin-right: 20rem; */
    height: 375px;
    width: 350px;
    border-radius: 0 10px 10px 0  ;
}
button{
    border-radius: 60px;

    text-align: center;
    margin-left: 3rem;
    margin-top: 5rem;
    padding: 7px;
    color: hsl(0, 0%, 95%);

}
h1{
    padding-left: 50px;
    color:hsl(0, 0%, 95%);
    
}
p{
    padding-left: 50px;
    padding-right: 45px;
    color:  hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
}
img{
    padding-left: 50px;
    margin-top: 20px;
}
 .btn1{
    background-color: hsl(31, 77%, 52%);

} 
.btn2{
    background-color: hsl(184, 100%, 22%);
}
.btn3{
    background-color: hsl(179, 100%, 13%);
    margin-bottom: -6rem;
}